################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basic_C#_Program/BooleanLogic/.vs/BooleanLogic/FileContentIndex/14bf925b-d21b-4784-abbf-42a1d84981c8.vsidx
/Basic_C#_Program/TurneryOperator/.vs/TurneryOperator/FileContentIndex/61be41ca-382a-4a54-b14a-382b8dd74b45.vsidx
/Basic_C#_Program/BranchingAssignment/.vs/BranchingAssignment/FileContentIndex/4456e64f-1e47-42a5-a89f-2ebd48dbb514.vsidx
/Basic_C#_Program/DoWhileloop/.vs/DoWhileloop/FileContentIndex/371125d4-5161-4342-abb4-cad8e1282007.vsidx
/Basic_C#_Program/ListAndArray/.vs/ListAndArray/FileContentIndex/d0ef66cf-6b5c-4c75-8c40-f6bffaa41079.vsidx
/Basic_C#_Program/Assigments/.vs/Assigments/FileContentIndex/79da1e97-f7fb-4339-94d3-1f0f0d77a9a9.vsidx
/Basic_C#_Program/ExeptionHendeling/.vs/ExeptionHendeling/FileContentIndex/2bfd9ff6-be43-42f4-b13f-ee2365d7253a.vsidx
/Basic_C#_Program/BlackJack/.vs/BlackJack/FileContentIndex
/Basic_C#_Program/MathodAssigment/.vs/MathodAssigment/FileContentIndex
/Basic_C#_Program/MainMethodAssigment/.vs/MainMethodAssigment/FileContentIndex
/Basic_C#_Program/ClassMethod/.vs/ClassMethod/FileContentIndex
/Basic_C#_Program/MathAssigment/.vs/MathAssigment/FileContentIndex
/Basic_C#_Program/MethodObjectAssignment/.vs/MethodObjectAssignment/FileContentIndex
/Basic_C#_Program/Employee/.vs/Employee/FileContentIndex
/Basic_C#_Program/ParsingEnum/.vs/ParsingEnum/FileContentIndex
/Basic_C#_Program/Struct/.vs/Struct/FileContentIndex
/Basic_C#_Program/Lambda/.vs/Lambda/FileContentIndex
/Basic_C#_Program/StoreText/.vs/StoreText/FileContentIndex/29071dcd-8d6b-4564-a9c4-8abd934ac5eb.vsidx
/Basic_C#_Program/StoreText/.vs/StoreText/FileContentIndex/450fd3db-7c6c-4e82-8c70-36429f79fa4f.vsidx
/Basic_C#_Program/MVCTutorial/.vs/MVCTutorial/FileContentIndex
/Basic_C#_Program/NewsletterAppMVC/.vs/NewsletterAppMVC/FileContentIndex
/Basic_C#_Program/StudentsMVC/.vs/StudentsMVC/FileContentIndex
/Basic_C#_Program/CarInsurance/.vs/CarInsurance/FileContentIndex
/Basic_C#_Program/CoreMVC/.vs/CoreMVC/FileContentIndex
/Basic_C#_Program/PitMan/.vs/PitMan/FileContentIndex
