################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basic_C#_Program/BooleanLogic/.vs/BooleanLogic/FileContentIndex/14bf925b-d21b-4784-abbf-42a1d84981c8.vsidx
/Basic_C#_Program/TurneryOperator/.vs/TurneryOperator/FileContentIndex/61be41ca-382a-4a54-b14a-382b8dd74b45.vsidx
