@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, I Love Tigers.</h1>
    <img src="~/images/tiger.jpg" alt="Tiger" class="img-thumbnail" />
    <p>Use this page to find out more about me and my favorite animal.</p>
    <p>Click the button below to learn more about tigers.</p>
    <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Tiger" role="button">Learn more about tigers</a>

</div>
